<div ng-controller="publisherCtrl">

<script src="https://code.angularjs.org/1.2.9/angular.min.js"></script>
<script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>

<!--  
      
      <div ng-repeat="author in filteredAuthors">
         {{author.authorName}}
      </div>
      <pagination total-items="totalItems" items-per-page="itemsPerPage" 
         ng-model="currentPage" ng-change="pageChanged()"></pagination>
      <p>
         Total items: {{totalItems}}<br />
         Items per page: {{itemsPerPage}}<br />
         Current Page: {{currentPage}}
      </p>
   </section>
   
   -->


<table class="table">

<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" ng-model="publisherToSearchName" class="form-control" placeholder="Search" >
           <input
		type="button"  value="Submit "class="btn btn-default" ng-click="searchPublisher()">
        </div>
      </form>
	<tr>
		<th>Publishers Id</th>
		<th>Publishers Name</th>
		<th>Publishers Adress</th>
		<th>Publishers Phone</th>
		
		
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	<tr ng-repeat="p in filteredPublishers">
		<td>{{p.publisherId}}</td>
		<td>{{p.publisherName}}</td>
		<td>{{p.publisherAddress}}</td>
		<td>{{p.publisherPhone}}</td>
		<td><button class="btn btn-success"
				ng-click="openModal(p)">Edit</button></td>
		<td><button class="btn btn-danger"
				ng-click="deletePublisher(p)">Delete</button></td>
	</tr>
</table>

<pagination total-items="totalItems" items-per-page="itemsPerPage" 
         ng-model="currentPage" ng-change="pageChanged()"></pagination>
      <p>
         Total items: {{totalItems}}<br />
         Items per page: {{itemsPerPage}}<br />
         Current Page: {{currentPage}}
      </p>


<form class="form">
		Enter Publisher Name: <input type="text" ng-model="publisherToInsert.publisherName"/>
		Enter Publisher Adress: <input type="text" ng-model="publisherToInsert.publisherAdress"/>
		Enter Publisher Phone: <input type="text" ng-model="publisherToInsert.publisherPhone"/>
		<input type="submit" ng-click="addPublisher()"/>
	</form>
	
	
    <script type="text/ng-template" id="myModalContentpub.html">
        <div class="modal-header">
            <h3 class="modal-title">Edit Publisher</h3>
        </div>
        <div class="modal-body">
            <ul>
            </ul>
Enter Publisher Name: <input type="text" name="publisherName" ng-model="publisher.publisherName">
Enter Publisher Address: <input type="text" name="publisherAddress" ng-model="publisher.publisherAddress">
Enter Publisher Phone: <input type="text" name="publisherPhone" ng-model="publisher.publisherPhone">

		<input type="submit"/>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>


